@font-face {
  font-family: "Pluto Cond Regular";
  src: url("../font/pluto-cond/79ba0ed0b475c081ac0b6477f30f5ba5.eot");
  /* IE9*/
  src: url("../font/pluto-cond/79ba0ed0b475c081ac0b6477f30f5ba5.eot?#iefix") format("embedded-opentype"), url("../font/pluto-cond/79ba0ed0b475c081ac0b6477f30f5ba5.woff2") format("woff2"), url("../font/pluto-cond/79ba0ed0b475c081ac0b6477f30f5ba5.woff") format("woff"), url("../font/pluto-cond/79ba0ed0b475c081ac0b6477f30f5ba5.ttf") format("truetype"), url("../font/pluto-cond/79ba0ed0b475c081ac0b6477f30f5ba5.svg#Pluto Cond Regular") format("svg");
  /* iOS 4.1- */ }

@font-face {
  font-family: "Roboto";
  src: url("../font/roboto/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto Light";
  src: url("../font/roboto/Roboto-Light.ttf") format("truetype"); }

#sidebar-top-home {
  position: fixed;
  z-index: 10;
  top: 18px;
  left: 0;
  width: 100%;
  height: 36px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 4px double rgba(0, 0, 0, 0.1); }
  #sidebar-top-home h5 {
    color: #fff;
    margin-top: 0px; }

#sidebar-top {
  position: fixed;
  z-index: 10;
  top: 12px;
  left: 0;
  width: 100%;
  height: 36px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 4px double rgba(0, 0, 0, 0.1); }
  #sidebar-top h5 {
    color: #fff;
    margin-top: 0px; }

form {
  display: block; }

select.form-control {
  color: #fff; }
  select.form-control option {
    color: #404040;
    background-color: rgba(255, 255, 255, 0.8); }

header {
  margin-bottom: 48px; }

table.table {
  background-color: rgba(255, 255, 255, 0.35); }
  table.table tr {
    padding: 3px 0px;
    border-top: #C0C0C0; }

.row-spacer {
  margin-top: 6px;
  margin-bottom: 6px; }

.btn-circle {
  width: 48px;
  height: 48px;
  text-align: center;
  padding: 9px 0px;
  line-height: 2;
  border-radius: 50%; }
  .btn-circle i.fa {
    font-size: 3rem; }

::-webkit-scrollbar {
  width: 12px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background-color: #404040;
  z-index: 0; }

select {
  padding-left: 0px; }

.modal {
  height: 100%; }

#modal-1 .modal-header {
  color: #000; }

#modal-1 .modal-body p {
  color: #000; }

.form-group label {
  font-weight: 600;
  width: 100%; }

.btn-page-previous {
  margin: 3px 0px 3px 12px; }

.text-number {
  font-family: "Pluto Cond Regular"; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Light"; }

h2 i.fa {
  font-size: 2rem;
  line-height: 4rem; }

h3 {
  color: #fff; }
  h3 i.fa {
    font-size: 1.5rem;
    line-height: 3rem; }

h5 {
  color: #fff;
  font-size: 1.5rem; }
  h5 i.fa {
    font-size: 2rem;
    line-height: 3rem; }

.badge a {
  color: #fff; }

.input-terms-number {
  display: block;
  margin-top: 3px;
  margin-left: 0px auto; }

h6 {
  color: #fff;
  font-size: 1rem; }
  h6 i.fa {
    font-size: 2rem;
    line-height: 3rem; }

ul.list-inline li {
  margin-bottom: 6px; }

.badge {
  font-size: 1.45rem;
  font-weight: bold; }
  .badge a {
    color: #fff; }

a i.fa {
  color: #fff; }

.fill-dark-transparent {
  background-color: rgba(0, 0, 0, 0.3);
  margin-left: 0px;
  margin-right: 3px;
  padding-top: 3px; }

div#esearch-list-ids .row-search-result {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 6px;
  min-height: 100px;
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
  div#esearch-list-ids .row-search-result a {
    color: #fff;
    text-decoration: underline;
    text-indent: 3px; }
  div#esearch-list-ids .row-search-result .info-detail {
    text-indent: 12px;
    line-height: 1.6rem;
    font-size: 1.5rem; }
  div#esearch-list-ids .row-search-result .btn-result-actions {
    margin-top: 6px;
    display: inline-block; }
    div#esearch-list-ids .row-search-result .btn-result-actions .btn-result-link {
      margin-top: -2px;
      padding: 2px 0px 0px 0px;
      width: 24px;
      height: 24px; }
      div#esearch-list-ids .row-search-result .btn-result-actions .btn-result-link i.fa {
        font-size: 1.75rem;
        margin-left: -2px;
        color: #404040; }
    div#esearch-list-ids .row-search-result .btn-result-actions .btn-result-share {
      padding: 0px;
      width: 24px;
      height: 24px; }
      div#esearch-list-ids .row-search-result .btn-result-actions .btn-result-share i.fa {
        font-size: 1.2rem; }
  div#esearch-list-ids .row-search-result .list-info-reports {
    margin-top: 6px; }
    div#esearch-list-ids .row-search-result .list-info-reports ul li a {
      display: inline-block;
      font-size: 10px;
      margin-left: 6px;
      font-size: 1.4rem;
      float: left;
      list-style: none; }

.info-load-number {
  margin: 12px 0px;
  color: #fff;
  -webkit-text-shadow: 1px 1px 1px #404040;
  -moz-text-shadow: 1px 1px 1px #404040;
  -ms-text-shadow: 1px 1px 1px #404040;
  text-shadow: 1px 1px 1px #404040; }

#db-support-home {
  color: #fff;
  font-size: 1.5rem;
  background-image: url("../img/backgrounds/abstract-10.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

#db-support-default {
  color: #fff;
  font-size: 1.5rem;
  background-image: url("../img/backgrounds/abstract-10.jpg");
  background-size: cover;
  min-height: 94vh;
  background-repeat: no-repeat; }
  #db-support-default #main-content {
    height: 100%;
    color: #fff; }
    #db-support-default #main-content h1, #db-support-default #main-content h2, #db-support-default #main-content h3, #db-support-default #main-content h4, #db-support-default #main-content p, #db-support-default #main-content small, #db-support-default #main-content li {
      color: inherit !important; }
    #db-support-default #main-content .form-control, #db-support-default #main-content label, #db-support-default #main-content a {
      color: #fff; }
    #db-support-default #main-content select option {
      color: #000; }
  #db-support-default #esearch-results {
    line-height: 2.5rem;
    font-size: 2rem; }
  #db-support-default #schedule-list {
    margin-top: 48px; }
    #db-support-default #schedule-list tr td:first-child {
      width: 24px; }

#list-schedule-dates li {
  width: 33%; }
  #list-schedule-dates li span.badge {
    width: 100%;
    border-radius: 0px; }

#db-medical-home {
  color: #fff;
  font-size: 1.5rem;
  background-image: url("../img/backgrounds/abstract-9.jpg");
  background-size: cover;
  height: 50vh;
  background-repeat: no-repeat; }

#db-medical {
  color: #fff;
  font-size: 1.5rem;
  background-image: url("../img/backgrounds/abstract-9.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

input[type="checkbox"] {
  display: none; }

input[type="checkbox"] + label {
  color: #f2f2f2; }

input[type="checkbox"] + label span {
  display: inline-block;
  width: 23px;
  height: 23px;
  margin: -2px 10px 0 0;
  vertical-align: middle;
  background: url("../img/icon/check_radio_sheet.png") left top no-repeat;
  cursor: pointer; }

input[type="checkbox"]:checked + label span {
  background: url("../img/icon/check_radio_sheet.png") -23px top no-repeat; }
