input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
    color:#f2f2f2;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:23px;
    height:23px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url('../img/icon/check_radio_sheet.png') left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url('../img/icon/check_radio_sheet.png') -23px top no-repeat;
}
