#sidebar-top-home{
  position: fixed;
  z-index: 10;
  top: 18px;
  left: 0;
  width: 100%;
  height: 36px;
  color: #fff;
  background-color: rgba(0,0,0,0.8);
  border-bottom: 4px double rgba(0,0,0,0.1);

  h5{
    color: #fff;
    margin-top: 0px;
  }

  #sidebar-top-menu{
  }
}

#sidebar-top{
  position: fixed;
  z-index: 10;
  top: 12px;
  left: 0;
  width: 100%;
  height: 36px;
  color: #fff;
  background-color: rgba(0,0,0,0.8);
  border-bottom: 4px double rgba(0,0,0,0.1);

  h5{
    color: #fff;
    margin-top: 0px;
  }

  #sidebar-top-menu{
  }
}


form{
  display: block;
}


select.form-control{
  color: #fff;
  option{
  color: #404040;
  background-color: rgba(255,255,255,0.8);
}
}


#sidebar-bottom{}

header{
  margin-bottom: 48px;
}

table.table{
  background-color: rgba(255,255,255,0.35);

  tr{
    padding: 3px 0px;
    border-top: #C0C0C0;
    td{

    }
  }
}

.row-spacer{
  margin-top: 6px;
  margin-bottom: 6px;
}

.btn-circle{
  width: 48px;
  height: 48px;
  text-align: center;
  padding: 9px 0px;
  line-height: 2;
  border-radius: 50%;
  i.fa{
    font-size: 3rem;
  }
}

::-webkit-scrollbar{
  width: 12px;
}

::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb{
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  background-color: #404040;
  z-index: 0;
}

select{
  padding-left: 0px;
}

.modal{
  height: 100%;
}
#modal-1{

  .modal-header{
    color: #000;
  }
  .modal-body{
    p{
      color: #000;
    }
  }



}

.form-group{

  label{
    font-weight: 600;
    width: 100%;
  }

}

.btn-page-previous{
  margin: 3px 0px 3px 12px;
}

.text-number{
  font-family: "Pluto Cond Regular";
}

h1,h2,h3,h4,h5,h6{
  font-family: "Roboto Light";
}

h2{
  i.fa{
    font-size: 2rem;
    line-height: 4rem;
  }
}

h3{
  color: #fff;
  i.fa{
    font-size: 1.5rem;
    line-height: 3rem;
  }
}

h5{
  color: #fff;
  font-size: 1.5rem;
  i.fa{
    font-size: 2rem;
    line-height: 3rem;
  }
}

.badge{
  a{
    color: #fff;
  }
}

.input-terms-number{
  display: block;
  margin-top: 3px;
  margin-left: 0px auto;
}

h6{
  color: #fff;
  font-size: 1rem;
  i.fa{
    font-size: 2rem;
    line-height: 3rem;
  }
}

ul.list-inline{
  li{
    margin-bottom: 6px;
  }
}

.badge{
  font-size: 1.45rem;
  font-weight: bold;
  a{
    color: #fff;
  }
}

a{
  i.fa{
    color: #fff;
  }
}

.fill-dark-transparent{
  background-color: rgba(0,0,0,0.3);
  margin-left: 0px;
  margin-right: 3px;
  padding-top: 3px;
}



div#esearch-list-ids{
  .row-search-result{
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 6px;
    min-height: 100px;
    display: block;
    border-bottom: 1px solid rgba(255,255,255,0.5);

    a{
      color: #fff;
      text-decoration: underline;
      text-indent: 3px;
    }
    .info-detail{
      text-indent: 12px;
      line-height: 1.6rem;
      font-size: 1.5rem;
    }

    .btn-result-actions{
      margin-top: 6px;
      display: inline-block;
      .btn-result-link{
        margin-top: -2px;
        padding: 2px 0px 0px 0px;
        width: 24px;
        height: 24px;
        i.fa{
          font-size: 1.75rem;
          margin-left: -2px;
          color: #404040;
        }
      }

      .btn-result-share{
        padding: 0px;
        width: 24px;
        height: 24px;
        i.fa{
          font-size: 1.2rem;
        }
      }
    }

    .list-info-reports{
      margin-top:6px;
      ul{
        li{
          a{
            display: inline-block;
            font-size: 10px;
            margin-left: 6px;
            font-size: 1.4rem;
            float: left;
            list-style: none;
          }
        }
      }
    }
  }
}

.info-load-number{
  margin: 12px 0px;
  color: #fff;
  @include text-shadow(#404040);
}

#db-support-home{
  color: #fff;
  font-size: 1.5rem;
  background-image: $abstract-10;
  background-size: cover;
  background-repeat: no-repeat;
}

#db-support-default{
  color: #fff;
  font-size: 1.5rem;
  background-image: $abstract-10;
  background-size: cover;
  min-height: 94vh;
  background-repeat: no-repeat;

  #main-content{
    height: 100%;
    color: #fff;
    h1,h2,h3,h4,p,small,li{
      color: inherit !important;
    }

    .form-control, label, a{
      color: #fff;
    }

    select{
      option{
        color: #000;
      }
    }

  }

  #esearch-results{
    line-height: 2.5rem;
    font-size: 2rem;
  }



#schedule-list{
  margin-top: 48px;
  tr{
    td:first-child{
      width: 24px;
    }
  }
}


}

#list-schedule-dates{
  li{
    width: 33%;
    span.badge{
      width: 100%;
      border-radius: 0px;
    }
  }
}
