#db-medical-home{
  color: #fff;
  font-size: 1.5rem;
  background-image: $abstract-9;
  background-size: cover;
  height: 50vh;
  background-repeat: no-repeat;
}
#db-medical{
  color: #fff;
  font-size: 1.5rem;
  background-image: $abstract-9;
  background-size: cover;
  background-repeat: no-repeat;
}
