$blur-1: url('../img/backgrounds/blur-1.jpg');
$blur-2: url('../img/backgrounds/blur-2.jpg');
$blur-3: url('../img/backgrounds/blur-3.png');
$blur-4: url('../img/backgrounds/blur-4.jpg');
$blur-5: url('../img/backgrounds/blur-5.jpg');
$blur-6: url('../img/backgrounds/blur-6.jpg');
$blur-7: url('../img/backgrounds/blur-7.jpg');
$blur-8: url('../img/backgrounds/blur-8.jpg');

$abstract-9: url('../img/backgrounds/abstract-9.jpg');
$abstract-10: url('../img/backgrounds/abstract-10.jpg');

@font-face {font-family: "Pluto Cond Regular";
  src: url("../font/pluto-cond/79ba0ed0b475c081ac0b6477f30f5ba5.eot"); /* IE9*/
  src: url("../font/pluto-cond/79ba0ed0b475c081ac0b6477f30f5ba5.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../font/pluto-cond/79ba0ed0b475c081ac0b6477f30f5ba5.woff2") format("woff2"), /* chrome、firefox */
  url("../font/pluto-cond/79ba0ed0b475c081ac0b6477f30f5ba5.woff") format("woff"), /* chrome、firefox */
  url("../font/pluto-cond/79ba0ed0b475c081ac0b6477f30f5ba5.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../font/pluto-cond/79ba0ed0b475c081ac0b6477f30f5ba5.svg#Pluto Cond Regular") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "Roboto";
  src: url("../font/roboto/Roboto-Regular.ttf") format("truetype"),
}

@font-face {font-family: "Roboto Light";
  src: url("../font/roboto/Roboto-Light.ttf") format("truetype"),
}

@mixin text-shadow($color){
  -webkit-text-shadow: 1px 1px 1px $color;
   -moz-text-shadow: 1px 1px 1px $color;
    -ms-text-shadow: 1px 1px 1px $color;
        text-shadow: 1px 1px 1px $color;
}

@import 'general';
@import 'protein';
@import 'medical';
@import 'checkbox';
