<!-- Modal -->
<div class="modal fade" id="modal-1" tabindex="-1" role="dialog" aria-labelledby="modal-1-Label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-1-Label"></h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <a href="#" class="hide btn btn-sm btn-default" id="btn-modal-back">Previous page</button>
        <a href="#" class="hide btn btn-sm btn-default" id="btn-modal-ok">OK</button>
      </div>
    </div>
  </div>
</div>
