<div class="container" id="sidebar-top-menu">
    <div class="row">
      <div class="col-xs-6">
        <ul class="list-inline">
          <li><a href="./../index.html" class="btn btn-default btn-circle btn-sm" style="font-size: 2.3rem; padding-top: 0px; width: 40px;height: 40px;"><i class="fa fa-home" style="color: #404040;" ></i></a></li>
          <li><a href="#" class="btn-page-previous btn btn-primary btn-circle"><i class="fa fa-arrow-left"></i></a></li>
        </ul>
      </div>
        <div class="col-xs-6"><h5 class="pull-right" style="line-height: 3.6rem;"><strong><i class="fa fa-feed"></i> NCBIONOTIFIER</strong></h5></div>
    </div>
</div>
